@model ITAdminProject.Models.Inventory



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LOGIN_IN</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/login.min.css" asp-append-version="true" />
    </environment>

    <style>
        .create-device{
            margin-top: 3%;
        }

        input{
            max-width: 400px;
        }

        select{
            max-width: 400px;
        }

        .names{
            display: flex;
            flex-direction: column;
        }

        .names label{
            font-size: 16px;
            margin-top: 10px;
        }

        .selects{
            display: flex;
            flex-direction: column;
        }

        .selects label {
            font-size: 16px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <form method="post" asp-action="Create" id="addDeviceForm">
        <div class="table p-5">

            <div class="form-group row pl-4">
                <h2 class="text-info" style="margin-left:-13px;">Add a new device</h2>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="names">
                            <div class="col-4">
                                <label asp-for="DeviceName">Device Name</label>
                            </div>
                            <div class="col-8">
                                <input asp-for="DeviceName" class="form-control" id="getDeviceName" />

                            </div>
                            <div class="col-4">
                                <label asp-for="SerialNumber">Serial Number</label>
                            </div>
                            <div class="col-8">
                                <input asp-for="SerialNumber" class="form-control" id="getSerialNumber" />

                            </div>

                        </div>
                        <div class="selects">
                            <div class="col-8">
                                <div class="col-4">
                                    <label asp-for="CategoryId">Category</label>
                                </div>
                                <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-control" id="getCategoryId"></select>

                                <div class="col-4">
                                    <label asp-for="StatusId">Allocation Status</label>
                                </div>
                                <div class="col-8">
                                    <select asp-for="StatusId" asp-items="ViewBag.StatusId" class="form-control" id="getStatusId"></select>

                                </div>
                                <div class="col-4">
                                    <label asp-for="AssignedTo">Assigned To</label>
                                </div>
                                <div class="col-8">
                                    <select asp-for="AssignedTo" class="form-control" asp-items="ViewBag.AssignedTo" id="editAssignedTo"></select>

                                </div>
                            </div>
                        </div>

                        <div class="form-group row create-device">
                            <div class="col-lg-3 row">
                                <div class="col-xs-6">
                                    <button type="submit" class="btn btn-info btn-block p-3" id="createButton" style="font-size:16px;">Create</button>
                                </div>
                                <div class="col-xs-6">
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-success btn-block p-3" id="backButton" style="font-size:16px;">Back</a>
                                </div>
                            </div>
                        </div>
                        <div id="AddDeviceErrorAlert" class="alert alert-danger" role="alert" style="display: none; margin-top: 10px;">

                        </div>

                    </div>
                    <div class="col-4">
                        @* Keep this empty *@
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--ADD DEVICE FUNCTIONALITY-->
    <script>
        document.getElementById('getDeviceName').addEventListener('click', function () {

            var errorBox = document.getElementById('AddDeviceErrorAlert');
            errorBox.style.display = 'none';

        });

        document.getElementById('getSerialNumber').addEventListener('click', function () {

            var errorBox = document.getElementById('AddDeviceErrorAlert');
            errorBox.style.display = 'none';

        });

        document.getElementById('getCategoryId').addEventListener('click', function () {

            var errorBox = document.getElementById('AddDeviceErrorAlert');
            errorBox.style.display = 'none';

        });

        document.getElementById('getStatusId').addEventListener('click', function () {

            var errorBox = document.getElementById('AddDeviceErrorAlert');
            errorBox.style.display = 'none';

        });

        document.getElementById('editAssignedTo').addEventListener('click', function () {

            var errorBox = document.getElementById('AddDeviceErrorAlert');
            errorBox.style.display = 'none';

        });

        document.getElementById('addDeviceForm').addEventListener('mouseenter', function () {

            var errorBox = document.getElementById('AddDeviceErrorAlert');
            errorBox.style.display = 'none';

        });

        document.getElementById('createButton').addEventListener('click', function () {
            var dname = document.getElementById('getDeviceName').value;
            var sname = document.getElementById('getSerialNumber').value;
            var cateId = document.getElementById('getCategoryId').value;
            var statId = document.getElementById('getStatusId').value;
            var assignedtoo = document.getElementById('editAssignedTo').value;

            $.ajax({
                type: "POST",
                url: '/Device/Create',
                data: { DeviceName: dname, SerialNumber: sname, CategoryId: cateId, StatusId: statId, AssignedTo: assignedtoo }, // Ensure you use the correct parameter name
                success: function (data) {
                    if (data.errorMessage) {
                        var errorMessage = data.errorMessage;
                        var errorBox = document.getElementById('AddDeviceErrorAlert');
                        errorBox.innerHTML = errorMessage;
                        errorBox.style.display = 'block';
                    } else {
                        window.location.assign("/Device/Index")
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error: ", error);
                }
            });

            // Prevent the default form submission behavior
            event.preventDefault();
        });


        function errofunc() {
            console.log('function changes');
        }
    </script>

    @*@if (ViewBag.ErrorMessage != null)
    {
        <script>
        window.onload = function () {
            var element = document.getElementById('addErrorAlert');
            element.textContent = '@ViewBag.ErrorMessage';
            $('addCategory').modal('show');
        }
        </script>
    }*@
</body>
