@model ITAdminProject.Models.Inventory



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LOGIN_IN</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/login.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <form method="post" asp-action="Create">
        <div class="table p-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row pl-4">
                <h2 class="text-info" style="margin-left:10%">Register Page</h2>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="DeviceName"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="DeviceName" class="form-control" />
                            <span asp-validation-for="DeviceName" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="SerialNumber"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="SerialNumber" class="form-control" />
                            <span asp-validation-for="SerialNumber" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="CategoryId"></label>
                        </div>
                        <div class="col-8">
                            <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-control" required></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                            <div class="col-4">
                                <label asp-for="AssignedTo"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="AssignedTo" class="form-control" />
                                <span asp-validation-for="AssignedTo" class="text-danger"></span>
                            </div>
                            @*<div class="col-4">
                                    <label asp-for="RoleId"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="RoleId" class="form-control" />
                                    <span asp-validation-for="RoleId" class="text-danger"></span>
                                </div>*@
                            <div class="col-4">
                                <label asp-for="StatusId"></label>
                            </div>
                            <div class="col-8">
                                <select asp-for="StatusId" asp-items="ViewBag.StatusId" class="form-control" required></select>
                                <span asp-validation-for="StatusId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-8 offset-4 row">

                                <div class="col">
                                    <input type="submit" class="btn btn-info p-5" value="Create" />
                                </div>
                                <div class="col">
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-success p-5">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        @* Keep this empty *@
                    </div>
                </div>
            </div>
    </form>
</body>
