@model ITAdminProject.Models.Employeechk

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LOGIN_IN</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/login.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <form method="post" asp-controller="welcome" asp-action="Index">
        <div class="table p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row pl-4">
                <h2 class="text-info" style="margin-left:10%">Login Page</h2>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Email"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Email" class="form-control" required id="inp" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Password"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Password" class="form-control" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-8 offset-4 row">

                            <div class="col">
                                <input type="submit" class="btn btn-info w-100" value="Submit" id="sub" />
                            </div>
                            <div class="col">
                                <a asp-controller="Home" asp-action="Index" class="btn btn-success w-100">Back</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-controller="Register" asp-action="Index" class="btn btn-success w-100">Not a User?Register Now</a>
                    </div>
                </div>
                <div class="col-4">
                    @* Keep this empty *@
                </div>
            </div>
        </div>
    </form>
    <script>
        //function LoginUser() {
        //    let value = document.getElementById("inp");
        //    console.log(value.value)
        //}
        let value = document.getElementById("inp");
        //console.log(value)
        //alert("hello from login");
        //console.log("value", value.value);
        const sub = document.getElementById('sub').addEventListener("click", function () {
            debugger
            console.log('user', JSON.stringify(value.value))
            debugger
            localStorage.setItem('user', JSON.stringify(value.value));
            //var naman = ${ }
            $.ajax({
                type: "POST",
                traditional: true,
                url: '@Url.Action("Id", "Login")',
                data: { id: "naman@gmail.com" },
                success: function (result) {
                    alert(result.Result);
                }
            });
            //sessionStorage.setItem('user', 'value.value');
            // alert(value.value);
            //const data = { email: value.value };
            //fetch(`http://localhost:56059/Login/Id?data=${value.value}`)
            //    //.then(response => response.json())
            //    .then(data => {
            //        console.log(data);
            //    }).catch(error)
            //{
            //    console.log(Error.error);
            //}
            //const email = value.value;
            //const data = { email: email };

            //const data = new EmailModel
            //{ "Email": "naman@gmail.com" };
            //const url = `http://localhost:56059/Login/Id?data=${data}`;

            //fetch(url)
            //    //.then(response => response.json())
            //    .then(data => {
            //        alert(data);
            //    })
            //    .catch(error => {
            //        console.error(error);
            //    });
            //alert(value.value);
            const par = document.getElementById("prnt");
            //par.innerHTML = '';
            //par.appendChild('<ul class="nav navbar-nav">< li > <a asp-area="" asp-controller="View" asp-action="view">View</a></li>')
            var u = document.createElement('ul');
            u.className = 'nav navbar-nav';
            var li3 = document.createElement('li');
            var a3 = document.createElement('a');
            a3.href = '/View/view';
            a3.textContent = 'View';
            li3.appendChild(a3);
            u.appendChild(li3);
        });

    </script>
</body>
