@model ITAdminProject.Models.Category

@{
    ViewData["Title"] = "Create Category";
}


<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="Create" class="col-md-6">

    <div class="form-group">
        <label for="categoryName" asp-for="CategoryName">Category Name:</label>
        <input type="text" id="categoryName" name="categoryName" class="form-control" asp-for="CategoryName" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>

<script>
    $(document).ready(function () {
        // Check if TempData contains a success message
        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage) {
            alert(successMessage);
        }
    });
</script>

<style>
    .container {
        padding: 2rem 0rem;
    }

    h4 {
        margin: 2rem 0rem 1rem;
    }

    .table-image {
        td, th 
    {
        vertical-align: middle;
    }
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in ViewBag.Category)
                    {
                        <tr>
                            <th scope="row">@category.Id</th>
                            <td>@category.CategoryName</td>
                            <td>
                                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


