@model ITAdminProject.Models.Category

@{
    ViewData["Title"] = "Create Category";
}


<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="Create" class="col-md-6">

    <div class="form-group">
        <label for="categoryName" asp-for="CategoryName">Category Name:</label>
        <input type="text" id="categoryName" name="categoryName" class="form-control" asp-for="CategoryName" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>

<script>
    $(document).ready(function () {
        // Check if TempData contains a success message
        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage) {
            alert(successMessage);
        }
    });
</script>